/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.eot");
  src: url("../fonts/poppins-v20-latin-300.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins-v20-latin-300.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin-300.woff") format("woff"),
    url("../fonts/poppins-v20-latin-300.ttf") format("truetype"),
    url("../fonts/poppins-v20-latin-300.svg#Poppins") format("svg");
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.eot");
  src: url("../fonts/poppins-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin-regular.woff") format("woff"),
    url("../fonts/poppins-v20-latin-regular.ttf") format("truetype"),
    url("../fonts/poppins-v20-latin-regular.svg#Poppins") format("svg");
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.eot");
  src: url("../fonts/poppins-v20-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins-v20-latin-600.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin-600.woff") format("woff"),
    url("../fonts/poppins-v20-latin-600.ttf") format("truetype"),
    url("../fonts/poppins-v20-latin-600.svg#Poppins") format("svg");
}
/* poppins-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.eot");
  src: url("../fonts/poppins-v20-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins-v20-latin-700.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin-700.woff") format("woff"),
    url("../fonts/poppins-v20-latin-700.ttf") format("truetype"),
    url("../fonts/poppins-v20-latin-700.svg#Poppins") format("svg");
}
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand: #819b57;
}
/* base */
body {
  color: var (--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-style: normal;
  color: var(--color-primary-light);
}
a:hover {
  color: var(--color-brand);
  font-weight: 600;
}
/* buttons */
.button {
  color: #faf4ea;
  font-weight: 600;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
/* links */
.link {
  color: var(--color-primary-light);
}
.link:hover {
  color: var(--color-brand);
}
/* hero section */
.hero-title {
  color: var(--color-primary-dark);
  font-size: 128px;
  font-weight: 900;
  text-align: center;
}
.hero-title .accent {
  color: var(--color-brand);
}
/* advantages section */
.advantages-list {
  background-color: var(--color-brand);
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}
.section-title {
  font-size: 64px;
  font-weight: 900;
}
.accent {
  color: var(--color-brand-dark);
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.shief-name {
  font-size: 40px;
  font-weight: 600;
}
.formats-section-title {
  font-size: 24px;
  font-weight: 600;
}
.formats-section-dscr{
  font-size: 14px;
  font-weight: 300;
}
.contacts-section-title{
  color: var(--color-brand-dark);
}
.footer-address-items{
  font-size: 16px;
  font-weight: 300;
}
.police{
  font-size: 16px;
  font-weight: 300;
}
.copyright {
  font-size: 14px;
  font-weight: 400;
  color: #A18268;
}
