/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.eot");
  src: url("../fonts/poppins-v20-latin-300.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins-v20-latin-300.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin-300.woff") format("woff"),
    url("../fonts/poppins-v20-latin-300.ttf") format("truetype"),
    url("../fonts/poppins-v20-latin-300.svg#Poppins") format("svg");
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.eot");
  src: url("../fonts/poppins-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin-regular.woff") format("woff"),
    url("../fonts/poppins-v20-latin-regular.ttf") format("truetype"),
    url("../fonts/poppins-v20-latin-regular.svg#Poppins") format("svg");
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.eot");
  src: url("../fonts/poppins-v20-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins-v20-latin-600.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin-600.woff") format("woff"),
    url("../fonts/poppins-v20-latin-600.ttf") format("truetype"),
    url("../fonts/poppins-v20-latin-600.svg#Poppins") format("svg");
}
/* poppins-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.eot");
  src: url("../fonts/poppins-v20-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins-v20-latin-700.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin-700.woff") format("woff"),
    url("../fonts/poppins-v20-latin-700.ttf") format("truetype"),
    url("../fonts/poppins-v20-latin-700.svg#Poppins") format("svg");
}
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand: #819b57;
}
/* base */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var (--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.visually-hidden {
  position: absolute;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-style: normal;
  color: var(--color-primary-light);
}
a:hover {
  color: var(--color-brand);
  font-weight: 600;
}
.section {
  padding: 48px 0;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1288px;
  padding: 0 24px;
}
iframe {
  width: 100%;
  max-width: 600px;
}
/* buttons */
.button {
  color: #faf4ea;
  font-weight: 600;
  padding: 16px 32px;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
/* links */
.link {
  color: var(--color-primary-light);
}
.link:hover {
  color: var(--color-brand);
}

/* hero section */
.hero-section {
  padding: 272px 0;
}
.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-dark);
  font-size: 128px;
  font-weight: 900;
  text-align: center;
}
.hero-title .accent {
  color: var(--color-brand);
}
/* advantages section */
.advantages-list {
  background-color: var(--color-brand);
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.accent {
  color: var(--color-brand-dark);
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
/* tradition section */
.tradition-section {
  padding-top: 96px;
}
.tradition-title{
  margin-bottom: 42px;
}

/* chef section */
.chefs-title {
  margin-bottom: 80px;
}
.chef-name {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
/* format section */
.formats-title {
  margin-bottom: 80px;
}
.formats-section-title {
  font-size: 24px;
  font-weight: 600;
}
.formats-section-dscr {
  font-size: 14px;
  font-weight: 300;
}
/* contact section */
.contacts-title {
  margin-bottom: 16px;
}
.contacts-section-title {
  color: var(--color-brand-dark);
}
/* footer */
.footer-address-items {
  font-size: 16px;
  font-weight: 300;
}
.police {
  font-size: 16px;
  font-weight: 300;
}
.copyright {
  font-size: 14px;
  font-weight: 400;
  color: #a18268;
}
