.contact-form-title {
  text-align: center;
  padding: 128px 0 0 0;
  font-size: 64px;
  font-weight: 900;
  margin: 0;
}
.contact-form-dscr {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 72px;
}
.form-field {
  margin-bottom: 32px;
  text-align: center;
}
.form-label {
  display: block;
}
.form-input-size {
  width: 60%;
}
.form-input {
  padding: 16px 48px;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondary-dark);
  background-color: transparent;
  border-radius: 8px;
}
.form-input:focus {
  border-color: var(--color-brand-dark);
  outline: none;
}
.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}
.form-input:focus::placeholder {
  color: var(--color-primary-dark);
  font-size: 16px;
  line-height: 1.17;
}
.form-button {
  display: block;
  margin: 0 auto 24px;
}
.form-terms-condition {
  max-width: 220px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}
.modal-form-police {
  color: var(--color-primary-dark);
  text-decoration: underline;
  text-underline-offset: 2px;
}
.contact-section-form {
  width: 85%;
}
.contact-form-field {
  margin-bottom: 24px;
  text-align: center;
}
